@import'../scss/main.scss';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;1,200;1,300;1,500;1,900&family=Raleway:wght@300&display=swap');

.Hero {
    width: 100%;
    height: 99.9vh;

    .searchandfilter {
        display: flex;
        width: 100%;
        height: 15%;

        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: 100%;

            input {
                width: 95%;
                height: 50%;
                border-radius: 6px;
                outline: none;
                padding: 20px 20px;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                border: none;

                &:hover {
                    border: 2px solid blue;
                }

            }
        }

        .filteradd {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 30%;
            height: 100%;

            select {
                width: 45%;
                height: 50%;
                border-radius: 6px;
                padding: 20px 20px;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                color: black;

                &:hover {
                    border: 2px solid blue;
                }
            }

            button {
                width: 45%;
                height: 50%;
                border-radius: 6px;
                border: none;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                text-align: center;
                color: black;
                // background-color: rgb(16, 15, 15);
                background-color: white;
                cursor: pointer;

                &:hover {
                    border: 2px solid blue;
                    transition: 0.5s;
                }
            }
        }
    }

    .result {
        width: 100%;
        height: 85.1%;
        overflow: scroll;
        // border: 1px solid;

        table {
            width: 100%;

            thead {

                // border: 1px solid;

                tr {
                    width: 100%;
                    height: 120px;
                    // border: 15px solid;

                    th {
                        border: 2px solid rgb(59, 60, 59);
                        border-radius: 16px;
                        font-family: 'Raleway', sans-serif;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: white;
                    }
                }
            }



            .table {

                // background-color: white;

                tr {
                    // border: 1px sold;
                    width: 100%;
                    height: 80px;
                    text-align: center;

                    td {
                        border: 2px solid rgb(59, 60, 59);
                        border-radius: 16px;
                        font-family: 'Raleway', sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: white;

                        .editdelete {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                        }

                        .button2 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            border-radius: 5px;
                            cursor: pointer;
                            background-color: blue;
                            border: none;
                            width: 40px;
                            height: 30px;
                            font-family: 'Raleway', sans-serif;
                            color: white;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 15px;
                            letter-spacing: 0em;
                            text-align: center;

                            img {
                                width: 60px;
                            }
                        }

                        .button1 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            border-radius: 5px;
                            cursor: pointer;
                            background-color: red;
                            border: none;
                            width: 40px;
                            height: 30px;
                            font-family: 'Raleway', sans-serif;
                            color: white;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 15px;
                            letter-spacing: 0em;
                            text-align: center;

                            img {
                                width: 60px;
                            }

                        }
                    }
                }
            }

        }
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.modal {

    .inputandselect {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .git {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin-bottom: 60px;

            .email {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-family: 'Raleway', sans-serif;
                }

                input {
                    width: 200px;
                    height: 40px;
                    padding: 20px;
                    outline: none;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    border: 2px solid blue;
                }
            }

            .last {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-family: 'Raleway', sans-serif;
                }

                select {
                    width: 200px;
                    height: 45px;
                    padding: 10px 10px;
                    outline: none;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    color: black;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    border: 2px solid blue;
                }
            }
        }

        .hit {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .name {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-family: 'Raleway', sans-serif;
                }

                input {
                    width: 200px;
                    height: 40px;
                    padding: 20px;
                    outline: none;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    border: 2px solid blue;
                }
            }

            .username {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-family: 'Raleway', sans-serif;
                }

                input {
                    width: 200px;
                    height: 40px;
                    padding: 20px;
                    outline: none;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    border: 2px solid blue;
                }
            }
        }
    }
}